In [1]:
import pandas as pd
#read csv file and create a dataframe with the data
#df = pd.read_csv (r'C:\Users\szieg\Repositories\School_District_Analysis\Resources\schools_complete.csv')

# Direct method - Files to load direct method. Files are in same repository as jupyter file 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/clean_students_complete.csv"

# Indirect method - 
# Add the dependencies
#import pandas as pd
#import pandas as pd
#import os 
# Files to load
#school_data_to_load = os.path.join("Resources", "schools_complete.csv")
#student_data_to_load = os.path.join("Resources", "students_complete.csv"

#Allow max 5000 rows
pd.set_option('display.max_rows', 5000)                                    
                                    
# Read the school data file and store it in a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [2]:
# Read student data file and retrieve records using df.head() will return 5 rows
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head(15)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
14,14,Tammy Hebert,F,10th,Huang High School,85,67

In [3]:
# Determine if there are any missing values in the school data
#Column headings and number (count) of rows that are not null
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [4]:
# Determine if there are any missing values in the school data
#Column headings and number (count) of rows that are not null
#We can see there are no missing values because the count is equal to number o rows in csv
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [5]:
#Determine if there are an NULL record
#True = is null, False = is not null
student_data_df.isnull()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
39165,False,False,False,False,False,False,False
39166,False,False,False,False,False,False,False
39167,False,False,False,False,False,False,False
39168,False,False,False,False,False,False,False
39169,False,False,False,False,False,False,False

In [6]:
#determine if there are NULL records then provide a total number of empty rows
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [7]:
#determine if there are any NOT NULL records 
# True = not empty, False = empty
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [8]:
student_data_df.notnull()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...
39165,True,True,True,True,True,True,True
39166,True,True,True,True,True,True,True
39167,True,True,True,True,True,True,True
39168,True,True,True,True,True,True,True
39169,True,True,True,True,True,True,True

In [9]:
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [10]:
#combine school and student data into a single dataset (Module 4.7.1)
# school data and student data inner join on "school_name"
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name","school_name"])
school_data_complete_df.head(100)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
30,30,Bobby Harris,M,9th,Huang High School,94,99,0,District,2917,1910635
31,31,Brian Fernandez,M,10th,Huang High School,97,65,0,District,2917,1910635
32,32,Candace Phelps,F,11th,Huang High School,93,90,0,District,2917,1910635
33,33,Amy Gonzalez,F,12th,Huang High School,95,68,0,District,2917,1910635
34,34,Steven Green,M,11th,Huang High School,65,74,0,District,2917,1910635
35,35,Benjamin Carlson,M,10th,Huang High School,99,61,0,District,2917,1910635
36,36,Kevin Bailey,M,10th,Huang High School,76,76,0,District,2917,1910635
37,37,Jesse Newton,M,10th,Huang High School,63,66,0,District,2917,1910635
38,38,Kimberly Mercado,F,12th,Huang High School,73,77,0,District,2917,1910635
39,39,Gregory Roberts,M,9th,Huang High School,80,61,0,District,2917,1910635
40,40,Matthew Mayer,M,9th,Huang High School,79,69,0,District,2917,1910635
41,41,Jennifer Parks,F,11th,Huang High School,85,95,0,District,2917,1910635
42,42,John Carlson,M,9th,Huang High School,65,89,0,District,2917,1910635
43,43,Megan Roberts,F,9th,Huang High School,66,90,0,District,2917,1910635
44,44,Debra Flores,F,10th,Huang High School,75,66,0,District,2917,1910635
45,45,Heidi Jackson,F,11th,Huang High School,64,93,0,District,2917,1910635
46,46,Denise Bradford,F,12th,Huang High School,73,59,0,District,2917,1910635
47,47,Ellen Brown,F,11th,Huang High School,77,81,0,District,2917,1910635
48,48,Amy Perkins,F,9th,Huang High School,76,66,0,District,2917,1910635
49,49,Natalie Mitchell,F,10th,Huang High School,73,93,0,District,2917,1910635
50,50,Tiffany Gutierrez,F,10th,Huang High School,82,95,0,District,2917,1910635
51,51,Jennifer Hess,F,11th,Huang High School,91,56,0,District,2917,1910635
52,52,Christine Fletcher,F,12th,Huang High School,69,78,0,District,2917,1910635
53,53,Jon Smith,M,9th,Huang High School,96,69,0,District,2917,1910635
54,54,Tracey Yates,F,9th,Huang High School,83,68,0,District,2917,1910635
55,55,Jerry Gordon,M,12th,Huang High School,95,71,0,District,2917,1910635
56,56,Michael Cox,M,11th,Huang High School,72,72,0,District,2917,1910635
57,57,Madeline Snyder,F,9th,Huang High School,97,56,0,District,2917,1910635
58,58,Allison King,F,11th,Huang High School,74,84,0,District,2917,1910635
59,59,Theresa Meyer,F,9th,Huang High School,88,70,0,District,2917,1910635
60,60,Jared Wood,M,9th,Huang High School,63,89,0,District,2917,1910635
61,61,Eric Maynard,M,9th,Huang High School,64,95,0,District,2917,1910635
62,62,Mark Owens,M,11th,Huang High School,74,65,0,District,2917,1910635
63,63,Ronnie Conley,M,11th,Huang High School,77,61,0,District,2917,1910635
64,64,Kimberly Davis,F,12th,Huang High School,87,57,0,District,2917,1910635
65,65,Amy Mitchell,F,11th,Huang High School,74,60,0,District,2917,1910635
66,66,Dylan Taylor,M,10th,Huang High School,77,93,0,District,2917,1910635
67,67,Elizabeth Henderson,F,12th,Huang High School,70,60,0,District,2917,1910635
68,68,James Lopez,M,12th,Huang High School,65,82,0,District,2917,1910635
69,69,Michael Morgan,M,11th,Huang High School,75,89,0,District,2917,1910635
70,70,Angela Francis,F,12th,Huang High School,70,60,0,District,2917,1910635
71,71,Breanna Taylor,F,10th,Huang High School,93,68,0,District,2917,1910635
72,72,Jason Johnson,M,12th,Huang High School,82,65,0,District,2917,1910635
73,73,Kyle Martin,M,10th,Huang High School,72,94,0,District,2917,1910635
74,74,Scott Gill,M,10th,Huang High School,85,85,0,District,2917,1910635
75,75,Lisa Long,F,10th,Huang High School,87,62,0,District,2917,1910635
76,76,Erin Liu,F,9th,Huang High School,78,76,0,District,2917,1910635
77,77,Marcus Richards,M,12th,Huang High School,83,76,0,District,2917,1910635
78,78,Jason Thompson,M,12th,Huang High School,99,57,0,District,2917,1910635
79,79,Elizabeth Mckinney,F,9th,Huang High School,74,81,0,District,2917,1910635
80,80,Jessica Bailey,F,10th,Huang High School,67,70,0,District,2917,1910635
81,81,Lisa Frye,F,12th,Huang High School,94,73,0,District,2917,1910635
82,82,Lindsey Baker,F,11th,Huang High School,81,57,0,District,2917,1910635
83,83,Lisa Ramirez,F,12th,Huang High School,64,76,0,District,2917,1910635
84,84,Joseph Butler,M,10th,Huang High School,77,63,0,District,2917,1910635
85,85,Tina Lynch,F,10th,Huang High School,94,60,0,District,2917,1910635
86,86,Leah Benitez,F,10th,Huang High School,93,84,0,District,2917,1910635
87,87,Elizabeth Parker,F,10th,Huang High School,85,56,0,District,2917,1910635
88,88,Melissa Hunter,F,10th,Huang High School,90,70,0,District,2917,1910635
89,89,Madison Everett,F,11th,Huang High School,70,78,0,District,2917,1910635
90,90,Ronald Garcia,M,9th,Huang High School,99,86,0,District,2917,1910635
91,91,Mark Cherry,M,10th,Huang High School,96,98,0,District,2917,1910635
92,92,Ryan Stokes,M,9th,Huang High School,75,72,0,District,2917,1910635
93,93,Isaiah Maldonado,M,10th,Huang High School,84,91,0,District,2917,1910635
94,94,Micheal Dennis,M,12th,Huang High School,86,61,0,District,2917,1910635
95,95,Kevin Martinez,M,11th,Huang High School,89,58,0,District,2917,1910635
96,96,Jessica Smith,F,9th,Huang High School,77,72,0,District,2917,1910635
97,97,Dawn Trujillo,F,11th,Huang High School,82,87,0,District,2917,1910635
98,98,Virginia Ramirez,F,10th,Huang High School,99,89,0,District,2917,1910635
99,99,Marc Hernandez,M,10th,Huang High School,87,63,0,District,2917,1910635

In [11]:
#get total number of records each column. This will help determine if there is missing data EX: count()
student_count = school_data_complete_df.count()
student_count

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [53]:
#get total number of students based on the Student ID 
student_count = school_data_complete_df["student_name"].count()
student_count

39170

In [13]:
#calculate the total number of schools using the merged dataset
school_count = len(school_data_complete_df["school_name"].unique())
school_count

15

In [14]:
#calculate total budget. Notice using the school data because using the complete data would return a sum of all 39000 rows
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [15]:
#calculate average (mean) reading score 
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [16]:
#calculate average (mean) math score
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [17]:
#determine passing_math and passing_reading scores
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70
passing_math
passing_reading

0        False
1         True
2         True
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: reading_score, Length: 39170, dtype: bool

In [18]:
#get all the students who are passing math n a new dataframe 
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [19]:
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [47]:
#calculate the number of students passing math
passing_math_count = passing_math["student_name"].count()

#calculate the number of students passing reading
passing_reading_count = passing_reading["student_name"].count()

print(passing_math_count)
print(passing_reading_count)

29370
33610

In [21]:
#Determine percentage of students who passed math
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [22]:
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [23]:
#Calculate the students who passed both math and reading
passing_math_reading =school_data_complete_df[(school_data_complete_df["math_score"] >= 70)
& (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [54]:
#get count of all students who passed both reading and math
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

25528

In [25]:
#Calculate overall passing percentage
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

65.17232575950983

In [55]:
#Adding a list of values with keys to create a new DataFrame
#The new dataframe will combine all the summary values created previously
district_summary_df = pd.DataFrame(
[{"Total Schools" : school_count,
"Total Students" : student_count,
"Total Budget" : total_budget,
"Average Math Score" : average_math_score,
"Average Reading Score" : average_reading_score,
"% Passing Math" : passing_math_percentage,
"% Passing Reading" : passing_reading_percentage,
"% Overall Passing" : overall_passing_percentage }])  

district_summary_df

#Format "Total Students" to have the comma for the thousands separator 4.7.8
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Students"]

#Format "Total Budget" to have the comma for thousands, a decimal separator, and a "$"
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Total Budget"]

#Format "Average Math Score" to one decimal place
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Math Score"]

#Format "Average Reading Score" to one decimal place
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"]

#Format %Passing Math" to nearest whole percentage
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)
district_summary_df["% Passing Math"]

#Format "%Passing Reading" to nearest whole percentage
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)
district_summary_df["% Passing Reading"]

#Format "% Overall Passing " to nearest whole percentage
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)
district_summary_df["% Overall Passing"]

#Example of column order formatting 
#new_column_order = ["Total Budget", "% Passing Reading", "% Overall Passing"]
#district_summary_df = district_summary_df[new_column_order]
#district_summary_df 


district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [27]:
#Adding Specific School Information
#Determine School type
per_school_types = school_data_df.set_index(["school_name"]) ["type"] 
per_school_types
df = pd.DataFrame(per_school_types)
df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [28]:
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [29]:
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [56]:
#Calculate the total student count from school_data_df
per_school_counts = school_data_df.set_index(["school_name"]) ["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [31]:
#Calculate student count from school_data_complete_df
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [32]:
#Calculate the total school budget for each school
per_school_budget = school_data_df.set_index(["school_name"]) ["budget"]
per_school_budget

#Calculate the budget per student 
per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [33]:
# Calculate the average per school
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [34]:
#Calculate Average Math Score per school

student_school_math = student_data_df.set_index(["school_name"])["math_score"]
student_school_math

school_name
Huang High School     79
Huang High School     61
Huang High School     60
Huang High School     58
Huang High School     84
                      ..
Thomas High School    90
Thomas High School    70
Thomas High School    84
Thomas High School    90
Thomas High School    75
Name: math_score, Length: 39170, dtype: int64

In [35]:
#Calculate the average math scores
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [36]:
#calculate the average Reading scores
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [57]:
#Calculate the passing scores by creating a filtered DataFrame
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >=70)]
per_school_passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [38]:
#Calculate the passing scores by creating a filtered DataFrame
per_school_passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >=70]

per_school_passing_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [60]:
# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

KeyError: 'student_name'

In [61]:
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

KeyError: 'student_name'

In [41]:
#calculate the students who passed both math and reading
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >=70)
& (school_data_complete_df["reading_score"] >=70)]

per_passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [52]:
#Calculate the number of students who passed both math and reading
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count() ["student_name"]
per_passing_math_reading

KeyError: 'student_name'

In [51]:
# Calculate the number of students who passed both math and reading.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

SyntaxError: unexpected EOF while parsing (<ipython-input-51-ef541103f813>, line 2)

In [ ]:
#Calculate the overall passing percentage
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100
per_overall_passing_percentage

In [ ]:
# Summary of data per school 

per_school_summary_df = pd.DataFrame({
"School Type" : per_school_types,
"Total Students" : per_school_counts, 
"Total School Budget": per_school_budget,
"Per Student Budget": per_school_capita,
"Average Math Score": per_school_math,
"Average Reading Score": per_school_reading,
"% Passing Math": per_school_passing_math,
"% Passing Reading": per_school_passing_reading,
"% Overall Passing": per_overall_passing_percentage})



#format the Total School budget and per Student Budget Columns
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

#format the Total Per Student Budget
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map ("${:,.2f}".format)


per_school_summary_df

In [ ]:
#Sort per school summary for top five schools based on % Overall Passing
top_schools = per_school_summary_df = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)
top_schools.head()

In [ ]:
#Sort per school summary for lowest five schools based on % Overall Passing
top_schools = per_school_summary_df = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)
top_schools.head()

In [ ]:
#filter school_data_complete by student grade
# Create a grade level DataFrames.
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]


tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]


eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]


twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

In [ ]:
#Average math scores by grade
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
                           
tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]

twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

ninth_grade_math_scores.head()

In [ ]:
#Average reading scores by grade
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
                           
tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]

eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_reading_scores.head(15)

In [ ]:
#Combine each grade level Series for average math scores by school into a single DataFrame
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores, 
    "10th" : tenth_grade_math_scores, 
    "11th" : eleventh_grade_math_scores,
    "12th" : twelfth_grade_math_scores    
})

#Format Math scores by grade to one decimal 

math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)

math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)

math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)

math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)
    

#Make sure columns are in the correct order
math_scores_by_grade = math_scores_by_grade[["9th","10th", "11th", "12th"]]

#Remove the index header name (school_name)
math_scores_by_grade.index.name = None

#Display the DataFrame
math_scores_by_grade.head(15)

In [ ]:
#Combine each grade level Series for average reading scores by school into a single DataFrame
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading_scores, 
    "10th" : tenth_grade_reading_scores, 
    "11th" : eleventh_grade_reading_scores,
    "12th" : twelfth_grade_reading_scores    
})

#Format Math scores by grade to one decimal 

reading_scores_by_grade["9th"] =reading_scores_by_grade["9th"].map("{:.1f}".format)

reading_scores_by_grade["10th"] =reading_scores_by_grade["10th"].map("{:.1f}".format)

reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:.1f}".format)

reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:.1f}".format)
    

#Make sure columns are in the correct order
reading_scores_by_grade = reading_scores_by_grade[["9th","10th", "11th", "12th"]]

#Remove the index header name (school_name)
reading_scores_by_grade.index.name = None

#Display the DataFrame
reading_scores_by_grade.head(15)

In [ ]:
#Get the descriptive statistics for the per_school_capita
per_school_capita.describe()

In [ ]:
#define bins for per_school_capita spending 
spending_bins = [0, 585,630,645,675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

#slz Create Dataframe with the spending and count
school_spend_ranges_df = pd.DataFrame({"Spending": group_names, "Count": Count })
school_spend_ranges_df

In [ ]:
# Categorize spending based on the bins.
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)

per_school_summary_df

In [ ]:
per_school_spending_bins=per_school_summary_df.groupby(["Spending Ranges (Per Student)"])

per_school_spending_bins.head()

In [ ]:
# Calculate averages for the desired columns.

spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
#Assemble into DataFrame
spending_summary_df = pd.DataFrame({
    "Average Math Score" : spending_math_scores,
    "Average Reading Score" : spending_reading_scores,
    "% Passing Math" : spending_passing_math, 
    "% Overall Passing" : overall_passing_spending    
})

spending_summary_df